# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\38137\OneDrive\OSU\OSU\Previous terms\2018 Au\workspace\Project_10_TagCloudGeneratorJCF\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
